.container {
  display: flex;
}

input {
  margin-right: 30px;
  padding-left: 10px;
  border-radius: 21px;
  border: none;
  height: 42px;
  width: 300px;
  background-color: hsla(0, 0%, 100%, 0.68);
  
}

.search {
  height: 34px;
}

.clean {
  height: 34px;
}