.container {
  background-image: url("../../assets/images/pexels-andrew-neel-2859169.jpg");
  background-size: cover;
  width: 100%;
  height: 91.7vh;
  display: flex;
  font-family: Helvetica;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;
  color: hsla(0, 0%, 100%, 0.8);
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0) 100%);
}
.cardsContainer {
  top: 10vh;
  padding: 16px;
  left: 5%;
  margin: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 90%;
  background-color: hsla(0, 0%, 100%, 0.263);
  backdrop-filter: blur(8px);
  border-radius: 32px;
  z-index: 4;
  box-shadow: 1px 1px 76px 15px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 76px 15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 76px 15px rgba(0, 0, 0, 1);
}

.filters h4 {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: lighter;
  border-radius: 28px;
  border: none;
  background-color: black;
  width: 200px;
  height: 30px;
}
.filters button {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: lighter;
  border-radius: 28px;
  border: none;
  margin-top: 36px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.808);
  color: black;
  width: 200px;
  height: 30px;
  box-shadow: 1px 1px 50px 10px rgba(0,0,0,1);
  &:hover {
    background-color: black;
    color: white;
  }
}

.filters select {
  font-size: larger;
  font-weight: lighter;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  padding-left: 4px;
  background-color: hsla(0, 0%, 100%, 0.8);
}

.filters p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  color: rgba(0, 0, 0, 0.776);
  font-weight: bold;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  width: 96px;
  cursor: pointer;
  margin-top: 380px;
  border-radius: 53px;
  background-color: rgba(255, 255, 255, 0.551);
  backdrop-filter: blur(2px);
  &:hover {
    box-shadow: 0px 0px 20px 6px rgb(0, 0, 0);
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}




